.title {
    color: black;
    font-size: 1em;
}

.h2 {
    color: black;
    font-size: 1em;
}


body {
    font-family: "Crete Round", serif;
    background-color: #f0f0f0;
  }
  body .title {
    display: none;
  }