/* 
   SCSS Styles for Mobile-First Approach:
   - The following styles are designed to cater to mobile devices.
   - Buttons, labels, and containers are optimized for smaller screens.
   - Styles are prioritized for mobile viewing experience.
*/


#logo {
  max-height: 114px;
}

.title {
  color: 	#696969; /* text color DimGray*/
  font-size: 1.05em;
  text-align: center;
  background-color:#F5F5F5; /* Set background color to WhiteSmoke */
  font-family: 'Roboto', sans-serif;
  border-style: ridge;
  font-weight: normal;
}

 // Button Styles for Adding a Book
.btn_add {  /* adds class "btn_add" to addButton element (the button with the text  "Ajouter un livre".)*/ 
    /* Set buttonn with the text " Aouter un livre " background color to green */ 
  border-style: none;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #247256; /* Set background color to green */
  color: white; /* Set text color to white */
  margin:auto;
  display: block;
}

// Input Styles for Search Form
.input_search { /* adds class "input_search"*/
  width: 98%;
  box-sizing:border-box;

}


// Button Styles for Search and Cancel
.btn_search {
  margin-top:25px;
  border-style: none;
  padding: 25px;
  background-color:#247256; /* Set background color to green */
  color: white;
  font-size: 100%;
}


.btn_cancel {/* adds class "btn_cancel"*/
  margin-top: 25px;
  border-style: none;
  padding-left: 40px;
  padding-bottom: 25px;
  padding-right: 35px;
  padding-top: 25px;
  background-color: red; /* Set background color to red */
  color: white;
  font-size: 100%;
}


.h2 { /* adds class h2 (with the text "Nouveau livre" inside it)  */
  color:black;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


.poch-list {/* adds class "poch-list" (with the text "Ma poch'liste" inside it) */
  color:black;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

// Add styles for the "résultats de recherche" header
#content {
  text-align: left; /* Align the content to the left */
}

/* Styles for h3 element for centering the title "résultats de recherche" */
h3 {
  margin-top: 20px; /* Add some spacing at the top */
  font-size: 1.5em; /* Increase font size for better visibility */
  text-align: center; /* Center-align the header text */
}



.body {
  background-color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


button[type="submit"],
button.add-book {
background-color: #247256; /* Set background color to green */
color: white; /* Set text color to white */
}


/* Styles for each book item in the grid */
.book-item {
  background-color: lightgray;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: black;
}

/*icon with the bookmark , at the top right  */
.image_bookmark {
  float: right;
}


/*image with the deleteIcon, at the top right  */
.icon_delete{
  float: right;
}

/*image with the book, center  */
.image_book{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  /*image with the book, center in my favorite book in my pochlist */
.image_book_PochList{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}



/* Styles for the grid container */
.results-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  background-color: grey;   /* Set the grey background color */
  padding: 20px;
  border-radius: 10px;
}

/* Styles for the "poch-list" section */
.poch-list-section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  background-color: grey;   /* Set the grey background color */
  padding: 20px;
  border-radius: 10px;
}


/* Styles for h4 element for centering the title "PochList" */
h4 {
  margin-top: 20px; /* Add some spacing at the top */
  font-size: 1.5em; /* Increase font size for better visibility */
  text-align: center; /* Center-align the header text */
}

/* Media Query for low-resolution Tablets, iPads   ( grid has 2 columns )*/ 
@media (min-width: 767px) {
.results-grid {
    // For Ipad - Set the grid to have 2 columns, where each column takes up the available space
    grid-template-columns: 1fr 1fr;

}

}



/* 
   Media Queries for Desktop: ( grid has 3 columns )
   - Styles are adjusted for desktop screens using media queries.
   - Only specific changes indicated in the wireframe are applied.
   - The rest of the styles remain consistent with the mobile version.
*/

/* Media Query for Laptops and Desktops */
@media (min-width: 1280px){
  .results-grid {
    // For Desktop - Set the grid to have 3 columns, where each column takes up the available space
    grid-template-columns: 1fr 1fr 1fr;
  }
}
